/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jan 31, 2024, 1:13:01 PM
    Author     : 12089
*/
            body{
                background-color: rgb(249, 153, 169);
                color: rgb(255, 252, 252);
                h1{
                    display: block;
                    
                    margin-top: 0em;
                    margin-bottom: 0em;
                    margin-left: 0;
                    margin-right: 0;
                    font-weight: bold;
                    color: rgb(0, 0, 0);
                    background-color:rgb(10, 176, 168);

                }
                p{
                    font-size: 35px;
                }
                a{
                    color: #d0ff89;
                }

                ul{
                    
                    display: inline-flex;
                    list-style-type: disc;
                    margin-top: 1em;
                    margin-bottom: 1em;
                    margin-left: 0em;
                    margin-right: 0;
                    padding-left: 80px;
                    /*
                    
                    display: inline-block;
                    margin-left: 5px;
                    padding-top: 1px;
                    */
                    
                }
            }
